apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: three-tier
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: harshaa137/three-tier-backend:v1
        ports:
        - containerPort: 3500
        env:
        - name: MONGO_CONN_STR
          value: "mongodb://mongodb-service:27017/todo-app"
        - name: PORT
          value: "3500"
        - name: USE_DB_AUTH
          value: "false"
